* {
    box-sizing: border-box;
}

/* Font-Face */

@font-face {
    font-family: montserrat;
    src: url(/fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(/fonts/montserrat-bold/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-medium;
    src: url(/fonts/montserrat-medium/Montserrat-Medium.ttfyyy);
}

/* BASIC */

html {
    font-family: montserrat, serif;
    color: #606060;
    line-height: 1.25;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h2 {
    font-size: 1.75rem;
    margin: 0;
    text-transform: uppercase;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

button:hover {
    color: #58c93a;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* 
a:hover {
    color: #040a2c;
    ;
} */

.logo {
    font-size: 2.5rem;
    letter-spacing: -0.02rem;
    transition: 45ms;
}

.mobile-menu {
    display: none;
}

.close-menu {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
}

.close-menu-li {
    display: none
}

.modal {
    display: flex;
    display: none;
    position: sticky;
    top: 30%;
    border-radius: 10px;
    width: 100%;
    height: 250px;
    text-align: center;
    padding: 2rem;
    text-transform: capitalize;
    border: 2px solid black;
    background-color: #fff;
    color: black;
    box-shadow: 0 0 3px 1px black;
}

.btn-close-modal {
    background-color: rgba(0, 0, 0, 0.701);
    color: white;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 10px;
}

.modal-buttons {
    padding-top: 7.5rem;
    height: 100%;
}

/* Layout */

.container {
    padding-right: 3.125rem;
    padding-left: 3.125rem;
    margin: 0 auto;
}

.colored-dot {
    color: #040a2c;
}

/* Header */

.main-header {
    background-color: #ff7f00;
    height: 66px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.main-header .main-nav a, li {
    text-transform: capitalize;
    padding-bottom: 1.4375rem;
}

.main-header .main-nav a {
    margin-inline-end: 0.75rem;
    margin-inline-start: 0.75rem;
}

.main-header .main-nav li:not(:last-child) {
    border-right: 1px solid #8a8a8a;
}

.padding-container {
    padding-right: 3.125rem;
    padding-left: 3.125rem;
}

/* Memegen-Container */

.meme-display-container {
    display: none;
}

.canvas-style {
    /* margin: 1.25rem; */
}

/* Meme Editor */

.editor-container {
    text-align: center;
    width: 23.375rem;
    margin-right: 6.25rem;
    margin-left: 6.25rem;
}

.text-input {
    border-radius: 12px;
    text-align: center;
    height: 3.75rem;
}

.editor-buttons {
    border-radius: 12px;
    /* margin-right: 1.25rem; */
    background-color: white;
    height: 3.75rem;
    width: 3.75rem;
}

.first-buttons-bar {
    margin-top: 0.625rem;
}

.second-buttons-bar {
    margin-top: 2.5rem;
}

.third-buttons-bar {
    margin-top: 0.625rem;
}

.fourth-buttons-bar {
    margin-top: 0.625rem
}

.font-selector {
    border-radius: 12px;
    width: 13.625rem;
    height: 3.75rem;
}

.fourth-buttons-bar button, a {
    border-radius: 0.75rem;
    background-color: #ff7f00;
    font-size: 1.25rem;
    padding: 1rem 0.625rem;
}

/* Gallery */

.main-content {
    /* padding-top: 5rem; */
    border-right: 1px solid #e1e0e0;
    border-left: 1px solid #e1e0e0;
    background-color: #e3e3e3;
}

.grid {
    display: grid;
}

.gallery-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 15px 50px;
    gap: 20px;
}

.gallery-item {
    border-radius: 15px;
    height: 10rem;
    object-fit: cover;
}

/* Search */

.search-container {
    min-height: 100px;
    background-color: #fff;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    position: relative;
    margin-bottom: 1.875rem;
}

.main-container .keyowrds-populer li {
    cursor: pointer;
    margin-inline-end: 0.65rem;
    text-transform: lowercase;
    color: #040a2c;
}

.main-container .keyowrds-populer li.more-keywords {
    font-size: 0.7rem;
    padding-top: 0.5rem;
}

.main-container .search-container input[type="search"] {
    margin-inline-end: 0.9375rem;
    border: none;
    text-transform: capitalize;
    min-width: 10.3rem;
    border-bottom: 2px solid #040a2c;
}

.main-container .search-container input[type="search"]:focus {
    outline: none;
}

.main-container .search-container .search-icon {
    position: absolute;
    left: 12.8125rem;
    bottom: 32px;
    font-size: 1.9rem;
}

/* Footer */

.main-footer {
    background-color: #ff7f00;
    padding: 5rem;
    border: 1px solid #e1e0e0;
}

.footer-logo a {
    color: black;
}

.footer-logo a:hover {
    color: #58c93a;
}

.copyright {
    font-size: 0.8125rem;
}

.social-li {
    /* background-color: #e5e5e5; */
    /* padding: 0.8125rem 1rem; */
    text-align: center;
}

.nav-social li:not(:last-child) {
    margin-right: 1.25rem;
}

.nav-social a {
    color: white
}

.facebook-icon:hover {
    color: black
}

.linkedin-icon:hover {
    color: black
}

.github-icon:hover {
    color: black
}

.copyright {
    padding: 1.875rem
}

/* Helpers */

/* flex helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

/* list-helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Tablet */

@media (max-width: 1000px) {
    html {
        font-size: 13px;
    }
    /* Mobile */
    @media (max-width: 800px) {
        .meme-display-container {
            flex-direction: column;
        }
        .main-nav {
            height: 100%;
            flex-flow: column wrap;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.55);
            transform: translateX(100%);
            transition: transform .8s;
        }
        .main-header .main-nav li:hover {
            border-top: 5px solid #58c93a;
        }
        .main-nav li {
            height: 130px;
        }
        .main-content {
            border: none;
        }
        .mobile-menu {
            display: block;
        }
        .close-menu {
            display: block;
        }
        .close-menu-li {
            display: block;
        }
        .main-nav.open-menu {
            transform: translateX(0);
        }
        .main-header {
            height: 70px;
        }
    }
}